/* static/css/signup.css */

/* static/css/signup-page.css */

body {
    background-image: url("/static/images/pexels-pixabay-326281.jpg"); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 30%;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.signup-container p {
    text-align: center;
    margin-top: 10px;
    color: #555;
}

.signup-container a {
    color: #007bff;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}
