<!DOCTYPE html>
<html>

<head>
    <title>
        Food Site
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FoodSite.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const forms = document.querySelectorAll('.order-form');
            const confirmationMessages = document.querySelectorAll('.confirmation-message');
    
            forms.forEach((form, index) => {
                form.addEventListener('submit', async function (event) {
                    event.preventDefault();
    
                    const formData = new FormData(form);
                    const confirmationMessage = confirmationMessages[index];
    
                    try {
                        const response = await fetch('/order', {
                            method: 'POST',
                            body: formData
                        });
    
                        const data = await response.json();
                        if (data.success) {
                            confirmationMessage.innerHTML = '<span class="tick-mark">&#10004;</span> Order placed successfully.';
                        } else {
                            confirmationMessage.innerHTML = '<span class="error-mark">&#10006;</span> Error placing order. Please try again.';
                        }
                    } catch (error) {
                        console.error(error);
                        confirmationMessage.innerHTML = '<span class="error-mark">&#10006;</span> An error occurred. Please try again later.';
                    }
                });
            });
        });
    </script> 
    
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-img.png" class="food-munch-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mr-4" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link active font-weight-bold" id="navItem1" href="#wcuSection">
                        Why Choose Us?
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-link font-weight-bold mr-3" href="#exploreMenuSection" id="navItem2">Menu</a>
                    <a class="nav-link font-weight-bold" href="#followUsSection" id="navItem4">Follow Us</a>   
                    <a class="nav-link font-weight-bold mr-3" href="{{ url_for('logout') }}" id="navItem5">Log In/Sign Up</a>                 
                </div>
            </div>
        </div>
    </nav>
    <div class="banner-section-bg-container d-flex justify-content-center flex-column">
        <div class="text-center">
            <h1 class="banner-heading mb-3">Get Delicious Food Anytime</h1>
            <p class="banner-caption mb-4">Eat Smart & Healthy</p>
            <a class="btn custom-button" href="#exploreMenuSection">View Menu</a>
            <a class="btn custom-outline-button"  href="#exploreMenuSection">Order Now</a>
        </div>
    </div>
    <div class="wcu-section pt-5 pb-5" id="wcuSection">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="wcu-section-heading">Why Choose Us?</h1>
                    <p class="wcu-section-description">
                        We use both original recipes and classic versions of famous food
                        items.
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <div class="wcu-card p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-serve.png" class="wcu-card-image" />
                        <h1 class="wcu-card-title mt-3">Food Service</h1>
                        <p class="wcu-card-description">
                            Experience fine dining at the comfort of your home. All our
                            orders are carefully packed and arranged to give you the nothing
                            less than perfect.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="wcu-card p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/fruits-img.png" class="wcu-card-image" />
                        <h1 class="wcu-card-title mt-3">Fresh Food</h1>
                        <p class="wcu-card-description">
                            The Fresh Food group provides fresh-cut fruits and vegetables
                            directly picked from our partner farms and farm houses so that
                            you always get them tree to plate.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="wcu-card p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/offers-img.png" class="wcu-card-image" />
                        <h1 class="wcu-card-title mt-3">Best Offers</h1>
                        <p class="wcu-card-description">
                            Food Coupons & Offers upto
                            <span class="offers">50% OFF</span>
                            and Exclusive Promo Codes on All Online Food Orders.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="explore-menu-section pt-5 pb-5" id="exploreMenuSection">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="menu-section-heading">Explore Menu</h1>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="shadow menu-item-card p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">Non-Veg Starter</h1>
                        <a href="{{ url_for('login') }}" class="menu-item-link">
                            Login To order
                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>                   

                        <div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form to collect order details -->
                                        <form id="orderForm" id="nonVegOrderStarterForm" class="order-form" method="POST" action="{{url_for('order')}}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Item</label>
                                                <input type="text" class="form-control" id="item_name" name="item_name" value="non-veg starter" readonly style="background-color: #f0f0f0;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">phone number</label>
                                                <input type="text" class="form-control" id="number" name="number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">quantity</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                            <div id="confirmationMessage" class="confirmation-message"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>            



                <div class="col-12 col-md-6 col-lg-3">
                    <div class="shadow menu-item-card p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-veg-starters-img.png" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">LogIn To Order</h1>
                        <a href="{{ url_for('login') }}" class="menu-item-link">
                            Login To order
                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>

                        <div class="modal fade" id="vegorderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form to collect order details -->
                                        <form id="orderForm" id="VegStarterOrderForm" class="order-form" method="POST" action="{{url_for('order')}}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Item</label>
                                                <input type="text" class="form-control" id="item_name" name="item_name" value="veg starter" readonly style="background-color: #f0f0f0;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">phone number</label>
                                                <input type="text" class="form-control" id="number" name="number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">quantity</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                            <div id="confirmationMessage" class="confirmation-message"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="menu-item-card shadow p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-soup-img.png" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">Soup</h1>
                        <a href="{{ url_for('login') }}" class="menu-item-link">
                            Login To order
                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>

                        <div class="modal fade" id="souporderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form to collect order details -->
                                        <form id="orderForm" id="soupOrderForm" class="order-form" method="POST" action="{{url_for('order')}}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Item</label>
                                                <input type="text" class="form-control" id="item_name" name="item_name" value="soup" readonly style="background-color: #f0f0f0;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">phone number</label>
                                                <input type="text" class="form-control" id="number" name="number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">quantity</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                                            </div>
                                            <!-- Add more fields as needed for the order details -->
                                            <!-- For example:
                                            <div class="mb-3">
                                                <label for="product" class="form-label">Product</label>
                                                <input type="text" class="form-control" id="product" name="product" required>
                                            </div>
                                            -->
                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                            <div id="confirmationMessage" class="confirmation-message"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="menu-item-card shadow p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-grilled-seafood-img.png" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">Fish & Sea food</h1>
                        <a href="{{ url_for('login') }}" class="menu-item-link">
                            Login To order
                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>

                        <div class="modal fade" id="seafoodorderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form to collect order details -->
                                        <form id="orderForm" id="seaFoodOrderForm" class="order-form" method="POST" action="{{url_for('order')}}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Item</label>
                                                <input type="text" class="form-control" id="item_name" name="item_name" value="Fish and sea food" readonly style="background-color: #f0f0f0;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">phone number</label>
                                                <input type="text" class="form-control" id="number" name="number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">quantity</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                                            </div>
                                            <!-- Add more fields as needed for the order details -->
                                            <!-- For example:
                                            <div class="mb-3">
                                                <label for="product" class="form-label">Product</label>
                                                <input type="text" class="form-control" id="product" name="product" required>
                                            </div>
                                            -->
                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                            <div id="confirmationMessage" class="confirmation-message"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="menu-item-card shadow p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-hyderabadi-biryani-img.png" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">biryani</h1>
                        <a href="{{ url_for('login') }}" class="menu-item-link">
                            Login To order
                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>

                        <div class="modal fade" id="biryaniorderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form to collect order details -->
                                        <form id="orderForm" id="biryaniOrderForm" class="order-form" method="POST" action="{{url_for('order')}}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Item</label>
                                                <input type="text" class="form-control" id="item_name" name="item_name" value="biryani" readonly style="background-color: #f0f0f0;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">phone number</label>
                                                <input type="text" class="form-control" id="number" name="number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">quantity</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                                            </div>
                                            <!-- Add more fields as needed for the order details -->
                                            <!-- For example:
                                            <div class="mb-3">
                                                <label for="product" class="form-label">Product</label>
                                                <input type="text" class="form-control" id="product" name="product" required>
                                            </div>
                                            -->
                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                            <div id="confirmationMessage" class="confirmation-message"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="menu-item-card shadow p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-mushroom-noodles-img.png" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">Noodles</h1>
                        <a href="{{ url_for('login') }}" class="menu-item-link">
                            Login To order
                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>

                        <div class="modal fade" id="noodlesorderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form to collect order details -->
                                        <form id="orderForm" id="noodlesOrderForm" class="order-form" method="POST" action="{{url_for('order')}}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Item</label>
                                                <input type="text" class="form-control" id="item_name" name="item_name" value="noodles" readonly style="background-color: #f0f0f0;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">phone number</label>
                                                <input type="text" class="form-control" id="number" name="number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">quantity</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                                            </div>
                                            <!-- Add more fields as needed for the order details -->
                                            <!-- For example:
                                            <div class="mb-3">
                                                <label for="product" class="form-label">Product</label>
                                                <input type="text" class="form-control" id="product" name="product" required>
                                            </div>
                                            -->
                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                            <div id="confirmationMessage" class="confirmation-message"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="menu-item-card shadow p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-gluten-img.png" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">Salads</h1>
                        <a href="{{ url_for('login') }}" class="menu-item-link">
                            Login To order
                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>

                        <div class="modal fade" id="saladorderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form to collect order details -->
                                        <form id="orderForm" id="saladsOrderForm" class="order-form" method="POST" action="{{url_for('order')}}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Item</label>
                                                <input type="text" class="form-control" id="item_name" name="item_name" value="salads" readonly style="background-color: #f0f0f0;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">phone number</label>
                                                <input type="text" class="form-control" id="number" name="number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">quantity</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                                            </div>
                                            <!-- Add more fields as needed for the order details -->
                                            <!-- For example:
                                            <div class="mb-3">
                                                <label for="product" class="form-label">Product</label>
                                                <input type="text" class="form-control" id="product" name="product" required>
                                            </div>
                                            -->
                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                            <div id="confirmationMessage" class="confirmation-message"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="menu-item-card shadow p-3 mb-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-coffee-bourbon-img.png" class="menu-item-image w-100" />
                        <h1 class="menu-card-title">Dessert</h1>
                        <a href="{{ url_for('login') }}" class="menu-item-link">
                            Login To order
                            <svg width="16px" height="16px" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="#d0b200" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                            </svg>
                        </a>

                        <div class="modal fade" id="seafoodorderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="orderModalLabel">Order Details</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form to collect order details -->
                                        <form id="orderForm" id="dessertsOrderForm" class="order-form" method="POST" action="{{url_for('order')}}">
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Item</label>
                                                <input type="text" class="form-control" id="item_name" name="item_name" value="deserts" readonly style="background-color: #f0f0f0;">
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="name" name="name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="email" name="email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">phone number</label>
                                                <input type="text" class="form-control" id="number" name="number" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="name" class="form-label">quantity</label>
                                                <input type="text" class="form-control" id="quantity" name="quantity" required>
                                            </div>
                                            <!-- Add more fields as needed for the order details -->
                                            <!-- For example:
                                            <div class="mb-3">
                                                <label for="product" class="form-label">Product</label>
                                                <input type="text" class="form-control" id="product" name="product" required>
                                            </div>
                                            -->
                                            <button type="submit" class="btn btn-primary">Place Order</button>
                                            <div id="confirmationMessage" class="confirmation-message"></div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="healthy-food-section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5">
                    <div class="text-center">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/healthy-food-plate-img.png" class="healthy-food-section-img" />
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <h1 class="healthy-food-section-heading">
                        Fresh, Healthy, Organic, Delicious Fruits
                    </h1>
                    <p class="healthy-food-section-description">
                        Say no to harmful chemicals and go fully organic with our range of
                        fresh fruits and veggies. Pamper your body and your senses with
                        the true and unadulterated gifts from mother nature. with the true
                        and unadulterated gifts from mother nature.
                    </p>
                    <button class="custom-button">Watch Video</button>
                </div>
            </div>
        </div>
    </div>
    <div class="delivery-and-payment-section pt-5 pb-5" id="deliveryPaymentSection">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 order-1 order-md-2">
                    <div class="text-center">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/delivery-payment-section-img.png" class="delivery-and-payment-section-img" />
                    </div>
                </div>
                <div class="col-12 col-md-7 order-2 order-md-1">
                    <h1 class="delivery-and-payment-section-heading">
                        Delivery and Payment
                    </h1>
                    <p class="delivery-and-payment-section-description">
                        Enjoy hassle-free payment with the plenitude of payment options
                        available for you. Get live tracking and locate your food on a
                        live map. It's quite a sight to see your food arrive to your door.
                        Plus, you get a 5% discount on every order every time you pay
                        online.
                    </p>
                    <button class="custom-button">Order Now</button>
                    <div class="mt-3">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/visa-card-img.png" class="payment-card-img" />
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/master-card-img.png" class="payment-card-img" />
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/paypal-card-img.png" class="payment-card-img" />
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/american-express-img.png" class="payment-card-img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thanking-customers-section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
                    <h1 class="thanking-customers-section-heading">
                        Thank you for being a valuable customer to us.
                    </h1>
                    <p class="thanking-customers-section-description">
                        We have a surprise gift for you
                    </p>
                    <div class="d-md-none">
                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/thanking-customers-section-img.png" class="thanking-customers-section-img" />
                    </div>
                    <div>
                        <button type="button" class="custom-button" data-toggle="modal" data-target="#exampleModal">
                            Redeem Gift
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog mt-5">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title thanking-customers-section-modal-title" id="exampleModalLabel">
                                            Gift Voucher
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/gift-voucher-img.png" class="w-100" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/thanking-customers-section-img.png" class="thanking-customers-section-img" />
                </div>
            </div>
        </div>
    </div>
    <div class="follow-us-section pt-5 pb-5" id="followUsSection">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="follow-us-section-heading">Follow Us</h1>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-row justify-content-center">
                        <div class="follow-us-icon-container">
                            <i class="fab fa-twitter icon"></i>
                        </div>
                        <div class="follow-us-icon-container">
                            <i class="fab fa-instagram icon"></i>
                        </div>
                        <div class="follow-us-icon-container">
                            <i class="fab fa-facebook icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-logo-light.png" class="food-munch-logo" />
                    <h1 class="footer-section-mail-id">orderfood@foodmunch.com</h1>
                    <p class="footer-section-address">
                        123 Ayur Vigyan Nagar, New Delhi, India.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>